:root{
  --main-font-family: "Nunito Sans", sans-serif;
  --headers-font-family: "Montserrat", sans-serif;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 54, 178);
    color: white;
    font-family: Arial, sans-serif;
  }
  .container-header{
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .container{
    margin: center;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .h1{
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .logo svg{
    width: 90px;
    height: auto;
    padding: 5px 20px 20px 20px;
  }
  .container{
    padding: 20px;
    font-family: Arial, sans-serif;
}
.services-list{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 150px;
    margin-top: 50px;
    justify-content: start;
    font-family: Arial, sans-serif;
}
.navlist{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 10px;
    justify-content: start;
    list-style: none;
    font-family: Arial, sans-serif;
    padding: 0;
}
.navlist li{
    margin-right: 10px;
    font-family: Arial, sans-serif;
}
.container-down{
    margin: center;
    padding: 20px 20px 20px 20px;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  .top-right{
    margin-left: 30%;
    font-family: Arial, sans-serif;
  }
  .uploadd{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 54, 178);
    text-decoration: none;
    color: white !important;
    font-family: Arial, sans-serif;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
  }
  .uploadd:hover{
    background-color: rgb(243, 91, 185);
    font-family: Arial, sans-serif;
  }
  .down{
    display: flex;
    list-style-type: none;
    font-family: Arial, sans-serif;
  }
  .downright{
    margin-left: 60%;
    font-family: Arial, sans-serif;
  }
